.container{
    font-family: 'Exo 2', sans-serif;
    margin: 20px auto;
}
.todo-container{
    box-shadow: 0 0 5px 0.5px #ccc;
    padding-bottom: 20px;
}
.radio-parent{
    margin-bottom: 10px;
}
.todo-list{
    list-style: none;
    padding: 0 40px 20px 15px;
}
.todo-list li{
    padding: 5px 0;
}
.checkbox-inline{
    height: 24px;
}
.completed{
    text-decoration: line-through;
}
.btn{
    margin-left: 5px;
}
form{
    height: 80px;
}